<section class="mx-auto mt-20 max-w-[1200px] px-6">
  <hr class="mb-20 border-slate-300" />
  <h2 class="mb-10 text-center text-2xl font-semibold text-primary">
    Galería de Palma Real
  </h2>

  <div class="flex flex-col items-center gap-4">
    <img
      class="min-h-[450px] max-w-[800px] rounded-md object-cover transition hover:saturate-150"
      src="/palma-real/lotes-3d.webp"
      alt="Áreas recreativas y verdes en la urbanización La Reserva II"
    />
    <img
      class="min-h-[450px] max-w-[800px] rounded-md object-cover transition hover:saturate-150"
      src="/palma-real/lotes.webp"
      alt="Caminatas en La Reserva II"
    />
    <img
      class="min-h-[450px] max-w-[800px] rounded-md object-cover transition hover:saturate-150"
      src="/palma-real/portico.webp"
      alt="Lotes en venta en Ica, urbanización La Reserva II"
    />
    <img
      class="min-h-[450px] max-w-[800px] rounded-md object-cover transition hover:saturate-150"
      src="/palma-real/ciclovia.webp"
      alt="Vista panorámica desde el mirador en La Reserva II, Ica"
    />
  </div>
</section>

<style>
  img {
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
  }
</style>
