---
import Strong from "@/components/common/Strong.astro";
---

<section id="info" class="info-container">
  <h1 class="mb-4 text-center text-2xl font-semibold text-primary">
    Palma Real
  </h1>
  <p class="mb-4">
    Palma Real es un <Strong>condominio exclusivo</Strong> con 16 lotes, ubicado
    en una zona privilegiada cercana a La Residencial La Angostura, uno de los sectores
    con mayor proyección de desarrollo.
  </p>
  <p class="mb-4">
    Cuenta con una <Strong>espectacular Casa Club de 740 m2</Strong> con amenidades
    en un espacio seguro pensado para toda la familia, rodeado de un <Strong
      >ambiente confortable</Strong
    >
    con opciones de entretenimiento y recreación al aire libre. Los lotes con metrajes
    desde los 456m2 hasta los 563m2.
  </p>
  <p class="mb-8">
    Nuestros clientes <Strong>disfrutan del paisaje único</Strong> que ofrece un
    oasis de lujo ubicado a orillas del <Strong
      >increíble desierto de Ica</Strong
    >.
  </p>
  <div class="flex flex-col items-center justify-center gap-2">
    <span
      class="rounded-md bg-blue-100 px-4 py-2 text-base font-medium text-blue-800"
      >Proyecto 100% Vendido</span
    >
  </div>
</section>
