---
import GreenArea from "@/icons/custom/GreenArea.astro";
import Water from "@/icons/custom/Water.astro";
import Surveillance from "@/icons/custom/Surveillance.astro";
import Highway from "@/icons/custom/Highway.astro";
import DoublePortico from "@/icons/custom/DoublePortico.astro";

type Amenity = {
  icon: any;
  text: string;
};

const AMENITIES: Amenity[] = [
  {
    icon: GreenArea,
    text: "Más de 6,000 m² de parques y áreas verdes",
  },
  {
    icon: Water,
    text: "Agua y Alcantarillado",
  },
  {
    icon: Highway,
    text: "Pistas asfaltadas y Cerco perimétrico",
  },
  {
    icon: DoublePortico,
    text: "Doble pórtico",
  },
  {
    icon: Surveillance,
    text: "Acceso privado y Vigilancia las 24 horas",
  },
];
---

<section class="mx-auto max-w-7xl px-6 pt-16 md:pt-20">
  <div
    class="mx-auto flex w-fit flex-wrap items-center justify-center border-y border-secondary-light py-4 md:py-2"
  >
    {
      AMENITIES.map(({ icon: Icon, text }) => (
        <article class="flex max-w-64 flex-col items-center justify-center gap-3 px-6 py-8">
          <Icon className="h-10 w-auto stroke-1 text-secondary" />
          <p class="text-center font-normal text-primary">{text}</p>
        </article>
      ))
    }
  </div>
</section>
