---
import Heart from "@/icons/Heart.astro";

const IMAGES = [
  {
    src: "/la-reserva-ii/parque-6.webp",
    alt: "",
  },
  {
    src: "/la-reserva-ii/parque-2.webp",
    alt: "",
  },
  {
    src: "/la-reserva-ii/parque-1.webp",
    alt: "",
  },
  {
    src: "/la-reserva-ii/parque-5.webp",
    alt: "",
  },
  {
    src: "/la-reserva-ii/parque-4.webp",
    alt: "",
  },
  {
    src: "/la-reserva-ii/parque-3.webp",
    alt: "",
  },
];
---

<section class="mx-auto mt-20 max-w-[1200px] px-6">
  <h2 class="mb-4 text-center text-2xl font-semibold text-primary">
    Descubra La Reserva II en imágenes
  </h2>
  <p class="mb-7 text-center">
    Explore nuestras áreas recreativas, impresionantes paisajes y mucho más
    <br />en nuestra galería de imágenes 3D.
  </p>

  <div class="mb-10 flex items-center justify-center gap-1">
    <Heart class="size-5 stroke-2 text-primary" />
    <strong class="text-center font-semibold text-primary"
      >¡Enamórese de su futuro hogar!</strong
    >
  </div>

  <div class="flex flex-col items-center gap-4">
    {
      IMAGES.map(({ src, alt }) => (
        <img
          class="h-[450px] max-w-full rounded-md object-cover transition hover:saturate-150"
          src={src}
          alt={alt}
        />
      ))
    }
  </div>
</section>

<style>
  img {
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
  }
</style>
