---
import HomeHeart from "@/icons/HomeHeart.astro";
---

<section
  class="relative mt-28 flex flex-col bg-[url('/la-reserva-ii/ninos.jpg')] bg-cover bg-fixed bg-center after:absolute after:inset-0 after:bg-primary/80"
>
  <div
    class="z-10 m-auto flex flex-col items-center gap-3 px-8 py-12 text-center text-white"
  >
    <HomeHeart
      className="mx-auto size-16 animate-[stroke_3s_ease-in-out_infinite]"
    />
    <p class="text-center">
      <strong class="font-semibold">Disfruta de</strong>
      <span> un entorno diseñado para brindar </span>
      <br class="hidden md:block" />
      <strong class="font-semibold"> confort y seguridad </strong>
      a toda tu familia.
    </p>
  </div>
</section>
