---
import HomeDollar from "@/icons/HomeDollar.astro";
---

<section
  class="mt-20 bg-cover bg-fixed bg-bottom md:bg-[url('/la-reserva/servicios.jpg')] md:px-20"
>
  <div
    class="ml-auto flex flex-col justify-center bg-primary/95 px-8 py-16 md:h-full md:max-w-[400px]"
  >
    <HomeDollar
      className="mx-auto mb-3 size-20 animate-[stroke_3s_ease-in-out_infinite] stroke-1 text-white"
    />
    <h2 class="mb-5 text-center text-xl font-semibold text-white">
      Tu lote ideal con financiamiento flexible
    </h2>
    <p class="mb-4 text-white">
      <span>Aprovecha esta oportunidad única de adquirir tu lote en una</span>
      <strong class="font-semibold">urbanización privada.</strong>
    </p>
    <p class="mb-4 text-white">
      <span> Ofrecemos </span>
      <strong class="font-semibold">financiamiento exclusivo</strong>
      <span> y múltiples beneficios pensados para ti. </span>
    </p>
    <p class="text-white">
      <span> Con nuestro plan flexible, puedes </span>
      <strong class="font-semibold">asegurar tu lote hoy</strong><span>
        y pagar la inicial en cómodos plazos.
      </span>
    </p>
  </div>
  <img
    class="h-64 object-cover object-center md:hidden"
    src="/la-reserva/servicios.jpg"
    alt="Portico de La Reserva - PB Inversiones Inmobiliarias"
  />
</section>
