---
import HomeCheck from "@/icons/HomeCheck";
import Strong from "../common/Strong.astro";
import Calendar from "@/icons/Calendar";
---

<section id="info" class="info-container">
  <h1 class="mb-4 text-center text-2xl font-semibold leading-9 text-primary">
    La Reserva II <br /> Vive el confort en la naturaleza de Ica
  </h1>
  <p class="mb-4">
    Bienvenido a <Strong>La Reserva II</Strong>, un proyecto exclusivo de <Strong
      >PB Inversiones Inmobiliarias</Strong
    > en Ica.
  </p>
  <p class="mb-4">
    Ofrecemos lotes desde <Strong>210 m²</Strong> en una urbanización privada rodeada
    de áreas verdes y vistas panorámicas.
  </p>
  <p class="mb-8">
    Disfrute de todos los servicios que su familia necesita en un entorno <Strong
      >seguro y privilegiado</Strong
    >.
  </p>
  <div class="flex flex-col justify-center gap-4 md:flex-row">
    <a href="#formulario-de-contacto" class="button-primary">
      <HomeCheck className="size-6" />
      Solicitar Cotización
    </a>
    <button id="button-visit" class="button-secondary">
      <Calendar className="size-6" />
      Agendar Visita
    </button>
  </div>
</section>
