---
import HomeCheck from "@/icons/HomeCheck";
import DiscountCheck from "@/icons/DiscountCheck";
---

<section id="info" class="mx-auto mt-20 max-w-[600px] px-6">
  <h1 class="mb-6 text-center text-2xl font-semibold leading-9 text-primary">
    La Reserva II <br /> Vive el confort en la naturaleza de Ica
  </h1>
  <p class="mb-4">
    Bienvenido a <strong class="font-medium text-primary">La Reserva II</strong
    >, un proyecto exclusivo de <strong class="font-medium text-primary"
      >PB Inversiones Inmobiliarias</strong
    > en Ica.
  </p>
  <p class="mb-4">
    Ofrecemos lotes desde <strong class="font-medium text-primary"
      >210 m²</strong
    > en una urbanización privada rodeada de áreas verdes y vistas panorámicas.
  </p>
  <p class="mb-8">
    Disfruta de todos los servicios que tu familia necesita en un entorno <strong
      class="font-medium text-primary">seguro y privilegiado</strong
    > .
  </p>
  <div class="flex flex-col justify-center gap-4 md:flex-row">
    <a href="#contactanos" class="button-primary">
      <HomeCheck className="size-6" />
      Reservar Lote</a
    >
    <a href="#contactanos" class="button-secondary">
      <DiscountCheck className="size-6" />
      Solicitar Cotización
    </a>
  </div>
</section>
