---
import School from "@/icons/School.astro";
import MapPin from "@/icons/MapPin.tsx";
import Road from "@/icons/Road.astro";
import Badge from "@/components/common/Badge.astro";
import Eye from "@/icons/Eye";
import HomeSpark from "@/icons/HomeSpark.astro";
---

<section class="mx-auto mt-20 max-w-7xl px-6 md:mt-28">
  <div class="grid items-center gap-11 md:grid-cols-[3fr_2fr]">
    <div
      class="group relative order-2 overflow-hidden rounded-md shadow-primary/15 md:order-1"
    >
      <Badge icon={HomeSpark} class="absolute left-3 top-3">Desde 210 m²</Badge>
      <img
        class="h-full object-cover transition-transform md:h-auto"
        src="/la-reserva-ii/ubicacion.webp"
        alt="Lotes de La Reserva - PB Inversiones Inmobiliarias"
      />
    </div>

    <div class="order-1 flex flex-col">
      <h2 class="mb-4 text-center text-2xl font-semibold text-primary">
        Ubicación estratégica en Ica
      </h2>
      <p class="mb-4 font-light">
        Ubicada a solo minutos de colegios, universidades, centros de salud y
        restaurantes,
        <strong class="font-medium text-primary">La Reserva II</strong> le mantiene
        conectado con todo lo que importa:
      </p>
      <ul role="list" class="space-y-2 *:inline-flex *:gap-3 *:font-light">
        <li>
          <School class="stroke-2 text-primary" />
          <p>
            Cerca de <strong class="font-medium text-primary"
              >Innova Schools</strong
            > y otras instituciones educativas.
          </p>
        </li>
        <li>
          <MapPin className="stroke-2 text-primary" />
          <p>
            Próxima a <strong class="font-medium text-primary"
              >centros comerciales</strong
            > y zonas de interés turístico.
          </p>
        </li>
        <li>
          <Road className="stroke-[2.5] text-primary" />
          <p>
            Acceso rápido a <strong class="font-medium text-primary"
              >servicios esenciales</strong
            > y vías principales.
          </p>
        </li>
      </ul>
      <button id="button-strategic" class="button-primary mx-2 mt-6">
        <Eye className="size-6" />
        Ver detalles
      </button>
    </div>
  </div>

  <hr class="mt-24 border-slate-300" />
</section>
