---
import Phone from "@/icons/Phone";
import WhatsApp from "@/icons/WhatsApp";
import WhatsAppLink from "../common/WhatsAppLink.astro";
---

<section class="mx-auto my-20 max-w-[1200px] px-6">
  <div class="flex flex-col items-center justify-center text-center">
    <h2 class="mb-6 text-2xl font-semibold text-primary">
      ¡Contáctenos hoy mismo!
    </h2>
    <p class="mb-4">
      Nuestro equipo de asesores está listo para ayudarle a elegir el lote
      ideal.
    </p>
    <p class="mb-6">
      Escríbanos a través de <WhatsAppLink
        class="relative font-medium text-primary after:absolute after:-bottom-0.5 after:left-0 after:h-0.5 after:w-0 after:bg-primary after:transition-all hover:after:w-[97%]"
        >WhatsApp</WhatsAppLink
      >o <a
        href="tel:+51944686742"
        class="relative font-medium text-primary after:absolute after:-bottom-0.5 after:left-0 after:h-0.5 after:w-0 after:bg-primary after:transition-all hover:after:w-full"
        >llámenos</a
      > directamente <br class="hidden md:block" /> y de el primer paso hacia una
      vida llena de confort y naturaleza.
    </p>
    <div class="flex flex-col gap-3 md:flex-row">
      <WhatsAppLink class="button-primary">
        <WhatsApp className="size-6" />
        Escríbanos por WhatsApp
      </WhatsAppLink>
      <a href="tel:+51944686742" class="button-secondary">
        <Phone className="size-5" />
        Llámenos ahora</a
      >
    </div>
  </div>
  <hr class="mt-20 border-slate-200" />
</section>
