---
import Phone from "@/icons/Phone";
import WhatsApp from "@/icons/WhatsApp";
import WhatsAppLink from "../common/WhatsAppLink.astro";

interface Props {
  color?: string;
}

const { color = "primary" } = Astro.props;
---

<section class="mx-auto my-20 max-w-[1200px] px-6">
  <hr class="mb-20 border-slate-300" />
  <div class="flex flex-col items-center justify-center text-center">
    <h2 class={`mb-6 text-2xl font-semibold text-${color}`}>
      ¡Contáctenos hoy mismo!
    </h2>
    <p class="mb-4">
      Nuestro equipo de asesores está listo para ayudarle a elegir el lote
      ideal.
    </p>
    <p class="mb-6">
      Escríbanos a través de <WhatsAppLink
        class={`font-medium text-${color} hover:underline`}
        >WhatsApp</WhatsAppLink
      > o
      <a
        href="tel:+51924702290"
        class={`font-medium text-${color} hover:underline`}>llámenos</a
      > directamente <br class="hidden md:block" /> y de el primer paso hacia una
      vida llena de confort y naturaleza.
    </p>
    <div class="flex flex-col gap-3 md:flex-row">
      <WhatsAppLink class={`button-${color}`}>
        <WhatsApp className="size-6" />
        Escríbanos por WhatsApp
      </WhatsAppLink>
      <a
        href="tel:+51924702290"
        class={`${color === "primary" ? "button-secondary" : "button-home-secondary"}`}
      >
        <Phone className="size-5" />
        Llámenos ahora</a
      >
    </div>
  </div>
  <hr class="mt-20 border-slate-300" />
</section>
