<section class="mx-auto max-w-[1200px] px-6 pt-32">
  <h2 class="mb-6 text-center text-2xl font-semibold text-primary">
    Galería de La Reserva
  </h2>

  <div class="grid gap-2 md:grid-cols-2">
    <div>
      <img
        class="h-96 max-w-full object-cover transition duration-300 hover:saturate-150"
        src="/la-reserva-parque.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-96 max-w-full object-cover transition duration-300 hover:saturate-150"
        src="/la-reserva-servicios.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-96 max-w-full object-cover transition duration-300 hover:saturate-150"
        src="/la-reserva-ciclovia.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-96 max-w-full object-cover transition duration-300 hover:saturate-150"
        src="/la-reserva-ninos.jpg"
        alt=""
      />
    </div>
  </div>
</section>
