---
import LaReservaLogo from "../logos/LaReserva.astro";
---

<section
  class="relative grid h-dvh w-full place-content-center bg-black/20 transition-all duration-300"
>
  <!-- Video Background -->
  <!-- <video
    autoplay
    loop
    muted
    playsinline
    preload="metadata"
    class="absolute -z-10 h-full w-full object-cover"
  >
    <source src="/la-reserva.mp4" type="video/mp4" />
  </video> -->

  <!-- Image Background -->
  <img
    class="absolute -z-10 h-full w-full object-cover object-center"
    src="/la-reserva-servicios.jpg"
    alt=""
  />
  <div class="m-auto grid justify-items-center gap-6">
    <LaReservaLogo class="w-3/4 text-white md:w-96" />
    <a href="#info" class="button-primary">Conocer más</a>
  </div>
</section>
