---
import HomeCheck from "@/icons/HomeCheck";
import VisitForm from "../VisitForm";
---

<section id="info" class="mx-auto max-w-[600px] px-8 pt-16 md:pt-20">
  <h1 class="mb-6 text-center text-2xl font-semibold text-primary">
    La Reserva
  </h1>
  <p class="mb-4">
    La Reserva es una <strong class="font-semibold text-primary"
      >urbanización exclusiva</strong
    > con 68 lotes , ubicada en una zona privilegiada cercana a La Residencial La
    Angostura, uno de los sectores con mayor proyección de desarrollo.
  </p>
  <p class="mb-4">
    Cuenta con <strong class="font-semibold text-primary"
      >un parque central de 2000m2</strong
    > y dos parques secundarios de 1000m2 y 250m2 respectivamente. Los lotes con
    metrajes desde los 224m2 hasta los 307m2.
  </p>
  <p class="mb-8">
    Nuestros clientes <strong class="font-semibold text-primary"
      >conviven con el desierto y las dunas</strong
    > que ofrece esta hermosa ciudad, gozando así de <strong
      class="font-semibold text-primary">todo el confort</strong
    > que brinda la naturaleza.
  </p>
  <div class="flex flex-col justify-center gap-4 md:flex-row">
    <a href="#formulario-de-contacto" class="button-primary">
      <HomeCheck className="size-6" />
      Solicitar Cotización
    </a>
    <VisitForm client:idle />
  </div>
</section>
