---
import HomeCheck from "@/icons/HomeCheck";
import Strong from "../common/Strong.astro";
import Calendar from "@/icons/Calendar";
---

<section id="info" class="info-container">
  <h1 class="mb-4 text-center text-2xl font-semibold text-primary">
    La Reserva
  </h1>
  <p class="mb-4">
    La Reserva es una <Strong>urbanización exclusiva</Strong> con 68 lotes , ubicada
    en una zona privilegiada cercana a La Residencial La Angostura, uno de los sectores
    con mayor proyección de desarrollo.
  </p>
  <p class="mb-4">
    Cuenta con <Strong>un parque central de 2000m2</Strong> y dos parques secundarios
    de 1000m2 y 250m2 respectivamente. Los lotes con metrajes desde los 224m2 hasta
    los 307m2.
  </p>
  <p class="mb-8">
    Nuestros clientes <Strong>conviven con el desierto y las dunas</Strong> que ofrece
    esta hermosa ciudad, gozando así de <Strong>todo el confort</Strong> que brinda
    la naturaleza.
  </p>
  <div class="flex flex-col justify-center gap-4 md:flex-row">
    <a href="#formulario-de-contacto" class="button-primary">
      <HomeCheck className="size-6" />
      Solicitar Cotización
    </a>
    <button id="button-visit" class="button-secondary">
      <Calendar className="size-6" />
      Agendar Visita
    </button>
  </div>
</section>
