---
import Shield from "@/icons/Shield";
---

<!--
  GLOBAL: USE STRONG COMPONENT WHEN NECESSARY
  HERE: MAKE THE TEXT LIKE IN THE IDEAL COMPONENT
-->
<section
  class="mt-20 bg-cover bg-fixed bg-bottom md:h-[600px] md:bg-[url('/la-reserva/portico.webp')] md:px-20"
>
  <div
    class="mr-auto flex flex-col justify-center bg-primary/95 px-10 py-16 md:h-full md:max-w-[350px]"
  >
    <Shield className="mx-auto mb-3 size-20 animate-pulse text-white" />
    <h2 class="mb-5 text-center text-xl font-semibold text-white">
      Viva seguro
    </h2>
    <p class="mb-4 text-white">
      La Reserva cuenta con un sistema de seguridad integral para que tú y tu
      familia vivan tranquilos.
    </p>
    <p class="text-white">
      Nuestro equipo de seguridad está disponible las 24 horas del día, los 7
      días de la semana, para garantizar tu bienestar.
    </p>
  </div>
  <img
    class="w-full object-cover object-center md:hidden"
    src="/la-reserva/portico.webp"
    alt="Portico de La Reserva - PB Inversiones Inmobiliarias"
  />
</section>
