---
import Shield from "@/icons/Shield";
---

<section
  class="mt-20 bg-cover bg-fixed bg-bottom md:h-[600px] md:bg-[url('/la-reserva/portico.webp')] md:px-20"
>
  <div
    class="mr-auto flex flex-col justify-center bg-primary/95 px-10 py-16 md:h-full md:max-w-[350px]"
  >
    <Shield className="mx-auto mb-3 size-20 animate-pulse text-white" />
    <h2 class="mb-5 text-center text-xl font-semibold text-white">
      Viva en un entorno seguro y confiable
    </h2>
    <p class="mb-4 text-white">
      <span>Garantizamos la paz de un hogar seguro gracias a</span>
      <strong class="font-semibold"
        >nuestra infraestructura de vigilancia constante.</strong
      >
    </p>
    <p class="mb-4 text-white">
      <span> Con cobertura de seguridad</span>
      <strong class="font-semibold">24/7, todo el año,</strong>
      <span> resguardamos su espacio y el de sus seres queridos.</span>
    </p>
  </div>
  <img
    class="w-full object-cover object-center md:hidden"
    src="/la-reserva/portico.webp"
    alt="Portico de La Reserva - PB Inversiones Inmobiliarias"
  />
</section>
