---
import Handshake from "@/icons/Handshake";
---

<section
  class="mt-32 flex flex-col bg-[url('/testimony-bg.jpg')] bg-cover bg-fixed bg-center md:h-[500px] md:px-20"
>
  <div
    class="m-auto flex flex-col justify-center bg-primary/95 px-8 py-16 text-center text-white md:max-w-[600px] md:py-4"
  >
    <Handshake id="cora" className="mx-auto mb-2 size-20" />
    <h2 class="mb-2 text-2xl font-semibold">Una inversión segura</h2>
    <p class="mb-4 font-light">
      “Compré un lote en una zona en crecimiento y fue una <strong
        class="font-semibold">excelente decisión</strong
      >. El proceso fue fluido, el vendedor fue transparente y el terreno tenía
      <strong class="font-semibold">todas las facilidades</strong> que necesitaba.
      <br /> Ahora, estoy construyendo <strong class="font-semibold"
        >la casa de mis sueños</strong
      > y no puedo estar más contento. <br />
      <strong class="font-semibold italic">La inversión valió la pena</strong>”
    </p>
    <p class="font-medium">- Propietario -</p>
  </div>
  <!-- <img
    class="h-64 object-cover object-center md:hidden"
    src="/testimony-bg.jpg"
    alt="Hojas de La Reserva - PB Inversiones Inmobiliarias"
  /> -->
</section>

<style>
  #cora {
    animation: stroke 3s ease-in-out infinite;
  }
</style>
