---
import Handshake from "@/icons/tabler/Handshake";
---

<div
  class="mt-20 flex h-[500px] bg-[url('/testimony-bg.jpg')] bg-cover bg-fixed bg-bottom px-20"
>
  <div
    class="m-auto flex max-w-[600px] flex-col justify-center bg-primary/95 px-8 py-4"
  >
    <Handshake id="cora" className="mx-auto mb-2 size-20 text-white" />
    <h2 class="mb-4 text-center text-3xl font-semibold text-white">
      Una inversión confiable
    </h2>
    <p class="mb-6 text-center font-light text-white">
      “Compré un lote en una zona en crecimiento y fue una excelente decisión.
      El proceso fue fluido, el vendedor fue transparente y el terreno tenía
      todas las facilidades que necesitaba. <br /> Ahora, estoy construyendo mi casa
      de sueños y no puedo estar más contento. La inversión valió la pena”
    </p>
  </div>
</div>

<style>
  #cora {
    animation: stroke 3s ease-in-out infinite;
  }
</style>
