---
import Facebook from "@/icons/Facebook";
import PbiiLogo2 from "./PbiiLogo2.astro";
import Instagram from "@/icons/Instagram";
import WhatsApp from "@/icons/WhatsApp";
import WhatsAppLink from "./WhatsAppLink.astro";
---

<footer>
  <div
    class="flex flex-col items-center justify-center gap-5 bg-primary px-4 pb-6 pt-8 text-white"
  >
    <a href="/">
      <PbiiLogo2 class="h-20 text-white" />
    </a>
    <div class="flex items-center gap-4">
      <a
        href="https://facebook.com/Urb.LaReserva"
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center gap-1 rounded-full bg-white/90 p-1 transition-all hover:scale-110 hover:bg-white"
      >
        <Facebook className="size-6 text-primary" />
      </a>
      <a
        href="https://instagram.com/pbinmobiliariaica"
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center gap-1 rounded-full bg-white/90 p-1 transition-all hover:scale-110 hover:bg-white"
      >
        <Instagram className="size-6 text-primary" />
      </a>
      <WhatsAppLink
        class="flex items-center gap-1 rounded-full bg-white/90 p-1 transition-all hover:scale-110 hover:bg-white"
      >
        <WhatsApp className="size-6 text-primary" />
      </WhatsAppLink>
    </div>
  </div>
  <p class="bg-primary-dark py-4 text-center text-sm text-white">
    © {new Date().getFullYear()} | Todos los Derechos Reservados.
  </p>
</footer>
