---
import Logo from "./Logo.astro";
---

<footer class="mx-auto bg-primary py-5">
  <div
    class="mx-auto flex max-w-[1200px] items-end justify-center gap-4 text-white"
  >
    <p class="text-sm">Un proyecto de</p>
    <a href="/">
      <Logo class="h-7 text-white" />
    </a>
  </div>
</footer>
