<section id="contactanos" class="mx-auto max-w-[1200px] px-6 py-20">
  <h2 class="mb-6 text-center text-3xl font-semibold text-primary">
    Contáctanos
  </h2>

  <form action="" class="mx-auto max-w-[800px]">
    <div class="grid grid-cols-2 gap-6">
      <div class="flex flex-col">
        <label for="name" class="pb-1">Nombres</label>
        <input id="name" type="text" placeholder="Nombres" class="input" />
      </div>
      <div class="flex flex-col">
        <label for="dni" class="pb-1">DNI</label>
        <input id="dni" type="text" placeholder="DNI" class="input" />
      </div>
      <div class="flex flex-col">
        <label for="telefono" class="pb-1">Teléfono</label>
        <input id="telefono" type="text" placeholder="Teléfono" class="input" />
      </div>
      <div class="flex flex-col">
        <label for="email" class="pb-1">Email</label>
        <input id="email" type="email" placeholder="Email" class="input" />
      </div>
      <div class="col-span-2 flex flex-col">
        <label for="consulta" class="pb-1">Consulta</label>
        <textarea
          id="consulta"
          placeholder="Consulta"
          class="input h-24 resize-none"></textarea>
      </div>
      <div class="col-span-2 flex items-center">
        <input type="checkbox" id="visit" class="mr-2 size-5" />
        <label for="visit">Programar un Visita</label>
      </div>
      <button class="button-primary">Enviar Mensaje</button>
    </div>
  </form>
</section>
