---
import MenuIcon from "@/icons/Menu.astro";
import CloseIcon from "@/icons/Close";
import PbiiLogo from "@/components/common/PbiiLogo";
import HeaderLink from "@/components/common/HeaderLink.astro";
import Mail from "@/icons/Mail";
import ProjectSelector from "@/components/common/ProjectSelector.astro";
---

<header id="header-nav" class="fixed top-0 z-40 w-full px-6 py-4 md:py-3">
  <div class="mx-auto flex max-w-[1200px] items-center justify-between">
    <a
      href="/"
      aria-label="Ir a la página de inicio de PB Inversiones Inmobiliarias"
      class="z-10"
    >
      <PbiiLogo className="h-8 text-white" />
    </a>

    <nav
      id="header-menu"
      class="fixed inset-0 flex h-dvh w-full -translate-y-full flex-col items-center justify-center gap-x-3.5 gap-y-4 bg-primary/95 text-white transition-transform target:translate-y-0 md:static md:h-[initial] md:translate-y-[initial] md:flex-row md:justify-end md:bg-[initial] md:text-sm"
    >
      <HeaderLink href="/">Inicio</HeaderLink>
      <HeaderLink href="/nosotros/">Nosotros</HeaderLink>

      <ProjectSelector />

      <button
        id="button-contact"
        class="flex items-center justify-center gap-1.5 rounded-md bg-secondary px-3.5 py-2.5 text-white transition-colors hover:bg-secondary-dark md:bg-primary md:hover:bg-primary-dark"
      >
        <Mail className="size-5" />
        Contáctanos
      </button>

      <a
        href="#header-nav"
        aria-label="Cerrar menú"
        class="absolute right-6 top-4 md:hidden"
      >
        <CloseIcon className="size-8" />
      </a>
    </nav>
    <a href="#header-menu" aria-label="Abrir menú" class="md:hidden">
      <MenuIcon className="text-white" />
    </a>
  </div>
</header>

<style>
  #header-nav {
    animation: blur linear both;
    animation-timeline: scroll();
    animation-range: 0 500px;
  }
</style>
