<button id="scroll-button" class="button-primary">Conocer más</button>

<script>
  document.addEventListener("astro:page-load", () => {
    const scrollButton = document.getElementById("scroll-button");

    if (scrollButton) {
      scrollButton.addEventListener("click", (event) => {
        event.preventDefault();
        const targetElement = document.getElementById("info");
        const offset = 64;
        if (targetElement) {
          const targetPosition = targetElement.offsetTop - offset;
          window.scrollTo({
            top: targetPosition,
            behavior: "smooth",
          });
        }
      });
    }
  });
</script>
