---
import Diamond from "@/icons/Diamond.astro";
import EyeSpark from "@/icons/EyeSpark.astro";
import TargetArrow from "@/icons/TargetArrow.astro";
---

<section class="mx-auto max-w-[1000px] px-8 py-28">
  <h1 class="mb-12 text-center text-2xl font-semibold text-primary">
    Identidad Corporativa
  </h1>
  <div class="grid gap-y-8 md:grid-cols-[1fr_1fr_1fr]">
    <article class="group text-center md:mt-4">
      <div
        class="mx-auto mb-4 w-fit origin-bottom rounded-full bg-slate-50 p-3 transition group-hover:scale-110 group-hover:bg-slate-100"
      >
        <TargetArrow
          class="mx-auto size-12 stroke-1 text-primary group-hover:animate-stroke"
        />
      </div>
      <h3 class="semibold mb-1 text-xl font-medium text-primary">Misión</h3>
      <p class="text-slate-800">
        Ser una empresa innovadora en la planificación y desarrollo
        inmobiliario, enfocados en la satisfacción de nuestros clientes en
        armonía con la comunidad y la naturaleza.
      </p>
    </article>
    <article class="group text-center">
      <div
        class="mx-auto mb-4 w-fit origin-bottom rounded-full bg-slate-50 p-3 transition group-hover:scale-110 group-hover:bg-slate-100"
      >
        <Diamond
          class="mx-auto size-12 stroke-1 text-primary group-hover:animate-stroke"
        />
      </div>
      <h3 class="semibold mb-1.5 text-xl font-medium text-primary">Valores</h3>
      <ul role="list" class="space-y-1 *:font-light *:text-slate-800">
        <li>Calidad</li>
        <li>Honestidad</li>
        <li>Compromiso</li>
        <li>Cumplimiento</li>
      </ul>
    </article>
    <article class="group text-center md:mt-4">
      <div
        class="mx-auto mb-4 w-fit origin-bottom rounded-full bg-slate-50 p-3 transition group-hover:scale-110 group-hover:bg-slate-100"
      >
        <EyeSpark
          class="mx-auto size-12 stroke-1 text-primary group-hover:animate-stroke"
        />
      </div>
      <h3 class="semibold mb-1 text-xl font-medium text-primary">Vision</h3>
      <p class="text-slate-800">
        Ser reconocidos por clientes y colaboradores como un ejemplo en
        innovación y calidad en la industria inmobiliaria.
      </p>
    </article>
  </div>
</section>
