---
import Strong from "../common/Strong.astro";
---

<section class="info-container">
  <h1 class="mb-4 text-center text-2xl font-semibold text-primary">
    PB Inversiones Inmobiliarias
  </h1>
  <p class="mb-2">
    Somos una <Strong>empresa inmobiliaria comprometida</Strong> con la innovación
    y satisfacción de nuestros clientes y sus familias .
  </p>
  <p class="mb-2">
    <Strong>Nuestro objetivo</Strong> es proveerles hogares con seguridad y comodidad
    a través de un <Strong>desarrollo inmobiliario impecable,</Strong> un proceso
    de venta eficiente y una postventa cuidadosa.
  </p>
  <p>
    Como consorcio contamos con más de <Strong>50 años de experiencia</Strong>
    brindado diversas soluciones, productos y servicios a la población iqueña.
  </p>
</section>
