---
import PbiiLogo2 from "@/components/common/PbiiLogo2.astro";
---

<section
  class="relative grid h-[450px] w-full place-content-center bg-primary-dark/70 transition-all"
>
  <img
    class="absolute -z-10 h-full w-full object-cover object-bottom"
    src="/pbii/hero.webp"
    alt="PBII Cover"
  />
  <PbiiLogo2 class="mx-auto mb-6 w-1/2 animate-fadeIn text-white md:w-48" />
  <h2
    class="-translate-y-8 animate-fadeInDelay text-center text-sm text-white opacity-0"
  >
    Una empresa del &nbsp;<span
      class="rounded bg-green-900 px-2 py-0.5 font-medium text-green-200"
      >Grupo Posben</span
    >
  </h2>
</section>
